.slider {
    max-width: var(--viewport-width);
}

.title {
    margin-bottom: var(--spacer-3xl);
    font: var(--head-300);
}

.controls {
    display: none;
}

.wrapper {
    overflow: auto hidden;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: var(--spacer-sm);
}

.slide {
    min-width: 320px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    position: relative;
}

.info {
    padding: var(--spacer-md);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--color-white);
}

.name {
    margin-bottom: 6px;
    font: var(--text-600);
    white-space: pre-line;
}

.position {
    margin-bottom: 11px;
    font: var(--text-200);
    letter-spacing: .35px;
}

.exp {
    font: var(--text-200);
    color: var(--additional-white);
}

.price {
    font: var(--text-200);
    letter-spacing: .5px;
}

.pointer {
    margin: var(--spacer-md) auto;
    max-width: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.point {
    width: 32px;
    height: 8px;
    border-radius: var(--radius-round);
    background-color: rgb(var(--color-black-alpha) / 0.15);
    transition: all 0.3s;
}

.point.active {
    width: 56px;
    background-color: var(--color-black);
}

@media (min-width: 1199px) {
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .title {
        margin-bottom: 51px;
        letter-spacing: .13px;
    }

    .controls {
        margin-top: -5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacer-md);
    }

    .prev,
    .next {
        --icon-color: var(--color-primary);
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-sm);
        background: rgb(var(--color-primary-alpha) / 0.1);
        cursor: pointer;
    }

    .prev:hover,
    .next:hover,
    .prev:focus,
    .next:focus {
        width: 48px;
        height: 48px;
        border-radius: var(--radius-sm);
        background: rgb(var(--color-primary-alpha) / 0.4);
    }

    .prev:active,
    .next:active {
        --icon-color: var(--color-white);
        width: 48px;
        height: 48px;
        border-radius: var(--radius-sm);
        background: rgb(var(--color-primary-alpha) / 0.8);
    }

    .wrapper {
        margin-right: calc(-1 * var(--spacer-4xl));
        padding-right: var(--spacer-4xl);
        gap: var(--spacer-lg);
    }

    .slide {
        min-width: 435px;
        border-radius: var(--radius-lg);
        overflow: hidden;
        position: relative;
    }

    .info {
        padding: var(--spacer-lg);
        color: var(--color-white);
    }

    .name {
        margin-bottom: 9px;
        line-height: 29px;
    }

    .position {
        margin-bottom: var(--spacer-lg);
        letter-spacing: .5px;
        line-height: 19px;
    }

    .exp {
        letter-spacing: .2px;
    }
    .price {
        letter-spacing: .6px;
        line-height: 19px;
    }

    .pointer {
        display: none;
    }
}
