.header {
    margin: var(--header-offset);
    padding: 0 0 0 var(--spacer-lg);
    height: var(--header-height);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: var(--spacer-sm);
    align-items: center;
    border-radius: var(--radius-lg);
    background: rgb(var(--color-white-alpha) / 0.1);
    backdrop-filter: blur(48px);
    position: absolute;
    z-index: var(--level-super);
    right: 0;
    left: 0;
    top: 0;
}

.mainCall {
    padding: var(--spacer-sm);
    max-width: 180px;
    margin-right: 0;
    margin-left: auto;
}

.inverse {
    background-color: var(--color-white);
    backdrop-filter: none;
    box-shadow: var(--shadow-primary);
    color: var(--color-black);
}

.logo,
.toggle {
    position: relative;
    z-index: 1;
}

.toggleIcon {
    margin-left: auto;
    margin-right: 0;
}

.logo svg {
    width: 89px;
    height: 24px;
}
.inverse .toggle {
    --icon-color: var(--color-black);
}

.toggle {
    padding: 0 var(--spacer-md) 0 0;
}

.toggle.expanded {
    --icon-color: var(--color-black);
}

@media (min-width: 1199px) {
    .mainCall {
        display: none;
    }
    .header {
        margin: 24px auto;
        padding: 0 var(--spacer-2xl);
        height: 68px;
        max-width: calc(var(--viewport-width) - (2 * var(--spacer-xl)));
    }

    .toggle {
        display: none;
    }

    .logo svg {
        width: 120px;
        height: 32px;
    }
}
