.faq {
    margin: 52px auto 0;
    padding: var(--spacer-md);
    max-width: var(--viewport-width);
}

.head {
    margin-bottom: var(--spacer-sm);
    font: var(--head-300);
    font-weight: 600;
}

@media (min-width: 1199px) {
    .faq {
        margin-top: 165px;
        padding: 0 var(--spacer-4xl);
    }

    .head {
        margin: auto;
        text-align: center;
    }
}
