.main {
    padding: var(--spacer-2xs) 0 var(--spacer-4xl);
    background-color: var(--color-blue-100);
    background-image: var(--gradient-primary);
    text-align: center;
    position: relative;
}


.wrapper {
    margin: auto;
    max-width: var(--viewport-width);
}

.title {
    padding: 0 var(--spacer-md);
    margin-top: var(--spacer-lg);
    color: var(--color-white);
    font: var(--text-700);
    font-weight: 600;
}

.description {
    padding: 0 var(--spacer-md);
    margin-top: var(--spacer-sm);
    color: var(--additional-white);
    font: var(--text-200);
}

.actions {
    margin-top: var(--spacer-3xl);
    padding: 0 var(--spacer-md);
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: var(--spacer-sm);
}

.action {
    width: 100%;
}

@media (min-width: 1199px) {
    .main {
        padding: 62px 0 60px;
        overflow: hidden;
    }

    .wrapper {
        display: flex;
        text-align: left;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .welcome {
        margin-right: -22px;
        min-width: 648px;
    }

    .title {
        font: var(--text-1000);
        font-weight: 600;
    }

    .marker {
        width: 56px;
        top: 141px;
        left: 49px;
    }

    .stats {
        padding: var(--spacer-sm) var(--spacer-lg);
        border-radius: var(--radius-sm);
    }

    .stats.clients {
        bottom: 47px;
        left: 92px;
    }

    .stats.cases {
        bottom: 119px;
        right: 65px;
    }

    .label {
        font: var(--text-800);
    }

    .tips {
        font: var(--text-100);
    }

    .info {
        margin-top: -20px;
        padding-left: 32px;
    }

    .description {
        max-width: 80%;
        font: var(--text-400);
    }

    .actions {
        flex-direction: row;
    }

    .action {
        width: auto;
    }
}