.main {
    padding: 84px 0 48px;
    background-color: var(--color-blue-100);
    background-image: var(--gradient-primary);
    text-align: center;
    position: relative;
}

.wrapper {
    margin: auto;
    max-width: var(--viewport-width);
}

.title {
    padding: 0 var(--spacer-md);
    margin-top: 21px;
    color: var(--color-white);
    font: var(--head-400);
    letter-spacing: 1.2px;
}

.description {
    padding: 0 var(--spacer-md);
    margin-top: var(--spacer-sm);
    color: var(--additional-white);
    font: var(--text-300);
    letter-spacing: .4px;
}

.actions {
    margin-top: var(--spacer-3xl);
    padding: 0 var(--spacer-md);
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: var(--spacer-sm);
}

.action {
    width: 100%;
}

@media (min-width: 1199px) {
    .main {
        padding: 132px 0 58px;
        overflow: hidden;
    }

    .wrapper {
        display: flex;
        text-align: left;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        margin-top: 19px;
        font-weight: 600;
        letter-spacing: .15px;
    }

    .info {
        margin-top: -20px;
        padding-left: 32px;
    }

    .description {
        max-width: 80%;
        letter-spacing: .5px;
    }

    .actions {
        margin-top: 34px;
        flex-direction: row;
    }

    .action {
        width: auto;
    }
}
