.payment {
    margin-bottom: 145px;
    padding: var(--spacer-md);
    max-width: 632px;
}
.form {
    margin-top: 104px;
}
.control {
    margin-bottom: 22px;
}
.action {
    width: 100%;
}

.info {
    text-align: center;
    color: var(--additional-black);
}

.info p {
    margin-top: 10px;
    font: var(--text-100-static);
    letter-spacing: 0.4px;
}

.info p:last-of-type {
    margin-top: 15px;
}

.info .commission {
    margin-top: 18px;
    margin-bottom: var(--spacer-2xs);
    font: var(--text-200-static);
    color: var(--color-black);
}

.legalAddress:not([open]) .close {
    display: none;
}

.legalAddress:not([open]) .open {
    display: block;
}

.legalAddress[open] .open {
    display: none;
}

.legalAddress[open] .close {
    display: block;
}

.legalAddress {
    font: var(--text-200-static);
}

.legalAddress summary {
    font: var(--text-100-static);
    text-align: center;
    cursor: pointer;
    color: var(--color-primary);
}

.legalAddress summary::marker {
    content: '';
}

.legalAddress p {
    padding: 19px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font: var(--text-300);
    gap: 8px;
    border-bottom: 1px solid var(--border-color);
}

.group {
    margin-top: 28px;
    font-weight: 700;
}

.legalAddress .label {
    min-width: 120px;
}

.qrcode {
    width: 343px;
    height: 343px;
}

@media (min-width: 1199px) {
    .payment {
        margin: 0 auto 150px;
    }

    .form {
        margin-top: 122px;
    }

    .group {
        margin-top: 22px;
    }

    .control {
        margin-bottom: 26px;
    }

    .legalAddress .label {
        min-width: 142px;
    }

    .qrcode {
        width: 600px;
        height: 600px;
    }
}
