.stars {
    --icon-color: var(--color-grey-50);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacer-2xs);
}

.active {
    --icon-color: var(--color-yellow);
}
