.stages {
    margin: 51px auto 0;
    padding: var(--spacer-md);
    max-width: var(--viewport-width);
}
.break {
    display: none;
}
.head {
    font: var(--text-600);
    font-weight: 600;
}

.list {
    padding-top: 348px;
    background-image: url('../../shared/assets/ui/service.png');
    background-repeat: no-repeat;
    background-size: 273px;
    background-position: center var(--spacer-sm);
    list-style: none;
}

.stage {
    padding-right: 0;
    margin-top: var(--spacer-sm);
    display: flex;
    align-items: center;
    font-family: serif;
    gap: var(--spacer-sm);
}

.stage:before {
    content: attr(data-count);
    font: var(--text-400);
    font-weight: 600;
    grid-area: couter;
    width: 32px;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-round);
    background-color: var(--color-blue-900);
    color: var(--color-primary);
}

.title {
    grid-area: title;
    font: var(--text-300);
    font-weight: 600;
    color: var(--color-black);
}

.description {
    grid-area: description;
    font: var(--text-200);
    font-weight: 500;
    color: var(--additional-black);
}

.call {
    display: none;
}

@media (min-width: 1199px) {
    .stages {
        margin-top: 132px;
        padding: 0 var(--spacer-4xl);
    }

    .break {
        display: initial;
    }

    .head {
        font: var(--text-900);
        font-weight: 600;
    }

    .list {
        padding-top: var(--spacer-3xl);
        padding-left: 51%;
        background-size: 544px;
        background-position: var(--spacer-3xl) 65%;
    }

    .stage {
        padding-right: var(--spacer-xl);
        align-items: flex-start;
    }

    .stage:before {
        margin-left: -4px;
        width: 48px;
        min-width: 48px;
        height: 48px;
        font: var(--text-600);
        font-weight: 600;
    }

    .title {
        font: var(--text-600);
    }

    .description {
        margin-top: var(--spacer-2xs);
        font: var(--text-300);
    }

    .call {
        margin: 43px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
    }
}