.typo {
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    font-style: normal;
}

.medium {
    font-weight: 500;
}

.semi {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.xxs {
    font: var(--text-50);
}

.xs {
    font: var(--text-100);
}

.sm {
    font: var(--text-200);
}

.md {
    font: var(--text-400);
}

.lg {
    font: var(--text-600);
}

.xl {
    font: var(--text-800);
}

.h4 {
    font: var(--text-200);
    font-weight: 500;
}

.h3 {
    font: var(--text-500);
    font-weight: 600;
}

.h2 {
    font: var(--text-600);
    font-weight: 600;
}

.h1 {
    font: var(--text-700);
    font-weight: 600;
}

@media (min-width: 768px) {
    .sm {
        font: var(--text-400);
    }

    .h3 {
        font: var(--text-300);
        font-weight: 600;
    }

    .h2 {
        font: var(--text-900);
        font-weight: 600;
    }

    .h1 {
        font: var(--text-1000);
        font-weight: 600;
    }
}