.illustration {
    margin-bottom: -15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: var(--level-normal);
}

.illustration:before {
    content: '';
    margin-bottom: 50px;
    min-width: 754px;
    background-color: var(--color-blue-100);
    border-radius: var(--radius-round);
    height: 754px;
    position: absolute;
    z-index: var(--level-down);
}

.image {
    margin-top: 50px;
    width: 330px;
}

.marker {
    width: 32px;
    position: absolute;
    top: 85px;
    left: calc(100% - 110px);
}

.stats {
    padding: 7px 12px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color-white);
    border-radius: var(--radius-2xs);
    background: rgb(var(--color-white-alpha) / 0.15);
    backdrop-filter: blur(32px);
    color: var(--color-white);
    position: absolute;
}

.stats.clients {
    bottom: 138px;
    left: 33px;
}

.stats.cases {
    bottom: 88px;
    right: 54px;
}

.title {
    font: var(--text-700);
    letter-spacing: 2px;
}

.description {
    margin-top: 3px;
    font: var(--text-100);
    letter-spacing: 0.4px;
}

@media (min-width: 1199px) {
    .illustration {
        margin-right: -22px;
        min-width: 648px;
        width: 648px;
    }

    .marker {
        width: 56px;
        top: 138px;
        left: calc(100% - 164px);
    }
    .image {
        margin-left: -50px;
        width: 100%;
    }
    .illustration:before {
        margin: auto;
        width: 1250px;
        height: 1250px;
        bottom: 0;
        left: -10%;
        top: 0;
    }

    .stats {
        padding: var(--spacer-sm) var(--spacer-lg);
        border-radius: var(--radius-sm);
    }

    .stats.clients {
        bottom: 174px;
        left: 38px;
    }

    .stats.cases {
        bottom: 43px;
        right: 102px;
    }
}
