.service {
    overflow: hidden;
    padding: var(--spacer-2xs) 0 var(--spacer-4xl);
    background-color: var(--color-blue-100);
    background-image: var(--gradient-primary);
    text-align: center;
    position: relative;
}

.wrapper {
    margin: auto;
    max-width: var(--viewport-width);
}

.title {
    padding: 0 var(--spacer-md);
    color: var(--color-white);
    font: var(--head-400);
    font-weight: 600;
}

.description {
    padding: 0 var(--spacer-md);
    margin-top: var(--spacer-sm);
    color: var(--additional-white);
    font: var(--text-300);
    letter-spacing: 0.4px;
}
.info {
    position: relative;
    z-index: 5;
}
.actions {
    margin-top: var(--spacer-3xl);
    padding: 0 var(--spacer-md);
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: var(--spacer-sm);
}

.action {
    width: 100%;
}

@media (min-width: 1199px) {
    .service {
        padding: 26px 0;
        overflow: hidden;
    }

    .wrapper {
        display: flex;
        text-align: left;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        letter-spacing: 0.5px;
    }

    .info {
        margin-top: 50px;
        padding-left: 32px;
    }

    .description {
        margin-top: 14px;
        max-width: 80%;
        line-height: 22px;
    }

    .actions {
        flex-direction: row;
    }

    .action {
        width: auto;
    }
}
