:root {
    /* Spacing ======================== */
    --spacer-2xs: 4px;
    --spacer-xs: 8px;
    --spacer-sm: 12px;
    --spacer-md: 16px;
    --spacer-lg: 20px;
    --spacer-xl: 24px;
    --spacer-2xl: 28px;
    --spacer-3xl: 32px;
    --spacer-4xl: 48px;

    /* Radius ========================== */
    --radius-2xs: 6px;
    --radius-xs: 8px;
    --radius-sm: 12px;
    --radius-md: 16px;
    --radius-lg: 20px;
    --radius-round: 9999px;

    /* Levels ========================== */
    --level-deep: -9999;
    --level-down: -1;
    --level-normal: 0;
    --level-up: 1;
    --level-super: 100;
    --level-over: 9999;

    /* Text ============================ */
    --font-primary: Inter, sans-serif;

    --head-400: 500 28px/34px var(--font-primary);
    --head-300: 600 24px/28px var(--font-primary);
    --head-200: 600 24px/28px var(--font-primary);
    --head-100: 600 16px/22px var(--font-primary);

    --text-400-static: 500 16px/100% var(--font-primary);
    --text-300-static: 500 14px/100% var(--font-primary);
    --text-200-static: 400 14px/100% var(--font-primary);
    --text-100-static: 500 12px/14px var(--font-primary);

    --text-700: 500 17px/21px var(--font-primary);
    --text-600: 600 20px/23px var(--font-primary);
    --text-500: 600 16px/19px var(--font-primary);
    --text-400: 600 16px/100% var(--font-primary);
    --text-300: 500 14px/17px var(--font-primary);
    --text-200: 500 14px/17px var(--font-primary);
    --text-100: 500 8px/12px var(--font-primary);

    /* Colors ========================== */
    --color-black: #222;
    --color-black-alpha: 34 34 34;
    --color-white: #fff;
    --color-white-alpha: 255 255 255;
    --color-red: #fa1111;
    --color-red-alpha: 250 17 17;
    --color-yellow: #dfb300;
    --color-blue-100: #001f3f;
    --color-blue-200: #002f5f;
    --color-blue-300: #004389;
    --color-blue-400: #0346d7;
    --color-blue-500: #3f7afa;
    --color-blue-600: #6f9dff;
    --color-blue-700: #b5ccff;
    --color-blue-800: #e2ebfe;
    --color-blue-900: #f0f4ff;

    --color-grey-50: #f2f2f2;
    --color-grey-100: #7f7f7f;
    --color-grey-200: #c6c6c6;

    /* Color alias ===================== */
    --color-primary: var(--color-blue-500);
    --color-primary-alpha: 63 122 250;
    --color-secondary: var(--color-blue-800);
    --color-secondary-alpha: 226 235 254;
    --border-color: rgb(var(--color-black-alpha) / 0.15);
    --text-color: var(--color-black);
    --muted-color: rgb(var(--color-white) / 0.6);
    --additional-black: rgb(var(--color-black-alpha) / 0.5);
    --additional-white: rgb(var(--color-white-alpha) / 0.5);
    --button-bg: var(--color-primary);
    --button-border: var(--color-primary);
    --button-color: var(--color-white);

    /* Gradients ======================= */
    --gradient-root: linear-gradient(
        45deg,
        var(--color-blue-100) 40%,
        var(--color-blue-200)
    );
    --gradient-primary: linear-gradient(
        105.49deg,
        var(--color-blue-100),
        var(--color-blue-200)
    );
    --gradient-secondary: linear-gradient(
        89.93deg,
        var(--color-blue-100),
        var(--color-blue-300)
    );
    --gradient-terthiary: linear-gradient(
        155.7deg,
        var(--color-blue-100) 15.55%,
        var(--color-blue-200) 84.45%
    );

    /* Shadows ========================= */
    --shadow-primary: 0 4px 12px 2px rgb(var(--color-black-alpha) / 0.08);

    /* Viewports ======================= */
    --viewport-mobile: 375px;
    --viewport-tablet: 768px;
    --viewport-desktop: 1440px;
    --viewport-width: var(--viewport-mobile);

    /* Sizes =========================== */
    --header-height: 56px;
    --header-offset: var(--spacer-sm);
    --logo-width: 90px;
}

@media (min-width: 768px) {
    :root {
        --head-400: 600 48px/58px var(--font-primary);
        --head-300: 600 40px/100% var(--font-primary);
        --head-200: 600 32px/100% var(--font-primary);
        --head-100: 600 28px/36px var(--font-primary);

        --text-700: 800 30px/35px var(--font-primary);
        --text-600: 600 24px/24px var(--font-primary);
        --text-500: 600 24px/28px var(--font-primary);
        --text-400: 600 20px/100% var(--font-primary);
        --text-300: 500 18px/21px var(--font-primary);
        --text-200: 500 16px/18px var(--font-primary);
        --text-100: 500 14px/28px var(--font-primary);

        --viewport-width: var(--viewport-tablet);
    }
}

@media (min-width: 1199px) {
    :root {
        --viewport-width: var(--viewport-desktop);
        --header-height: 68px;
        --header-offset: var(--spacer-xl);
        --logo-width: 120px;
    }
}
