.success {
    margin-bottom: -4px;
    background-image: var(--gradient-primary);
}

.wrapper {
    padding: 75px var(--spacer-md) 100px;
    margin: auto;
    max-width: var(--viewport-width);
    text-align: center;
}

.illustration {
    margin: 21px auto 0;
    width: 170px;
    height: 184px;
}

.head {
    margin-top: var(--spacer-3xl);
    font: var(--head-200);
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--color-white);
}

.message {
    margin-top: 8px;
    font: var(--text-200);
    color: var(--additional-white);
}

.action {
    margin-top: 30px;
    width: 100%;
}

@media (min-width: 1199px) {
    .wrapper {
        padding: 96px var(--spacer-2xl);
        max-width: 800px;
    }

    .illustration {
        margin-top: var(--spacer-lg);
        width: 205px;
        height: 223px;
    }

    .head {
        line-height: 39px;
    }

    .message {
        margin: 15px auto;
        line-height: 22px;
        padding: 0;
    }

    .action {
        margin: 29px auto;
        max-width: 230px;
    }
}
