.review {
    margin: 69px auto 0;
    padding: var(--spacer-md);
    max-width: var(--viewport-width);
}

.head {
    margin-bottom: var(--spacer-3xl);
    font: var(--head-300);
    line-height: 29px;
}

.wrapper {
    overflow: auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: var(--spacer-sm);
}

.item {
    min-width: 320px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    position: relative;
}

.card {
    padding: var(--spacer-lg) var(--spacer-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message {
    font: var(--text-200);
    line-height: 19px;
    letter-spacing: 1.5px;
}

.rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    font: var(--text-200);
    font-weight: 700;
}

.pointer {
    margin: var(--spacer-md) auto;
    max-width: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.point {
    width: 32px;
    height: 8px;
    border-radius: var(--radius-round);
    background-color: rgb(var(--color-black-alpha) / 0.15);
    transition: all 0.3s;
}

.point.active {
    width: 56px;
    background-color: var(--color-black);
}

.action {
    width: 100%;
}

@media (min-width: 1199px) {
    .review {
        margin-top: 171px;
        padding: 0 var(--spacer-4xl);
        position: relative;
        z-index: var(--level-normal);
        overflow: visible;
    }

    .review:after,
    .review:before {
        content: '';
        margin: auto;
        display: block;
        width: 320px;
        height: 110px;
        border-radius: var(--radius-lg);
        background-color: var(--color-primary);
        position: absolute;
        opacity: .5;
        z-index: var(--level-down);
        backdrop-filter: blur(24px);
    }

    .review:before {
        bottom: 134px;
        left: calc(var(--spacer-4xl) + var(--spacer-xl));
    }

    .review:after {
        bottom: 125px;
        right: calc(var(--spacer-4xl) + var(--spacer-xl));
    }

    .head {
        letter-spacing: -.15px;
    }

    .wrapper {
        margin-top: var(--spacer-4xl);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacer-lg);
        backdrop-filter: blur(12px);
        overflow: visible;
    }

    .message {
        font-weight: 400;
        line-height: 19px;
        letter-spacing: .3px;
    }

    .rate {
        margin-top: 14px;
    }

    .item {
        max-width: 320px;
    }

    .item:nth-child(1) {
        margin-top: 41px;
    }

    .item:nth-child(2),
    .item:nth-child(3) {
        margin-top: 8px;
    }

    .item:nth-child(4) {
        margin-top: 10px;
    }

    .item:nth-child(5) {
        margin-top: 0;
        margin-left: -18px;
    }

    .item:nth-child(6) {
        margin-top: 17px;
    }
    .item:nth-child(7) {
        margin-top: 36px;
        margin-left: 3px;
    }

    .pointer {
        display: none;
    }

    .action {
        margin: 57px auto 0;
        max-width: 250px;
        width: auto;
    }
}
