.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    width: 100%;
    max-width: var(--viewport-width);
}

.grid-full-width {
    min-width: 100%;
}

.grid-full-height {
    min-height: 100%;
}

.grid-centered {
    margin: auto;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
}

.grid-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

.grid-cols-9 {
    grid-template-columns: repeat(9, 1fr);
}

.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}

.grid-cols-11 {
    grid-template-columns: repeat(11, 1fr);
}

.grid-cols-12 {
    grid-template-columns: repeat(12, 1fr);
}

.grid-gap-0 {
    grid-gap: 0;
}

.grid-gap-xs {
    grid-gap: var(--spacer-xs);
}

.grid-gap-sm {
    grid-gap: var(--spacer-sm);
}

.grid-gap-md {
    grid-gap: var(--spacer-md);
}

.grid-gap-lg {
    grid-gap: var(--spacer-lg);
}

.grid-gap-xl {
    grid-gap: var(--spacer-xl);
}

.grid-item {
    --grid-col-start: auto;
    --grid-col-end: span 12;
    --grid-row-start: auto;
    --grid-row-end: auto;

    grid-column: var(--grid-col-start) / var(--grid-col-end);
    grid-row: var(--grid-row-start) / var(--grid-row-end);
}

.grid-item-block {
    display: block;
}

.grid-item-flex {
    display: flex;
}

.grid-item-grid {
    display: grid;
}

.grid-item-cols-1 {
    --grid-col-end: span 1;
}

.grid-item-cols-2 {
    --grid-col-end: span 2;
}

.grid-item-cols-3 {
    --grid-col-end: span 3;
}

.grid-item-cols-4 {
    --grid-col-end: span 4;
}

.grid-item-cols-5 {
    --grid-col-end: span 5;
}

.grid-item-cols-6 {
    --grid-col-end: span 6;
}

.grid-item-cols-7 {
    --grid-col-end: span 7;
}

.grid-item-cols-8 {
    --grid-col-end: span 8;
}

.grid-item-cols-9 {
    --grid-col-end: span 9;
}

.grid-item-cols-10 {
    --grid-col-end: span 10;
}

.grid-item-cols-11 {
    --grid-col-end: span 11;
}

.grid-item-cols-12 {
    --grid-col-end: span 12;
}

.grid-item-rows-1 {
    --grid-row-start: span 1;
}

.grid-item-rows-2 {
    --grid-row-start: span 2;
}

.grid-item-rows-3 {
    --grid-row-start: span 3;
}

.grid-item-rows-4 {
    --grid-row-start: span 4;
}

.grid-item-rows-5 {
    --grid-row-start: span 5;
}

.grid-item-rows-6 {
    --grid-row-start: span 6;
}

.grid-item-rows-7 {
    --grid-row-start: span 7;
}

.grid-item-rows-8 {
    --grid-row-start: span 8;
}

.grid-item-rows-9 {
    --grid-row-start: span 9;
}

.grid-item-rows-10 {
    --grid-row-start: span 10;
}

.grid-item-rows-11 {
    --grid-row-start: span 11;
}

.grid-item-rows-12 {
    --grid-row-start: span 12;
}

.grid-item-col-start-2 {
    --grid-col-start: 2;
}

.grid-item-col-start-3 {
    --grid-col-start: 3;
}

.grid-item-col-start-4 {
    --grid-col-start: 4;
}

.grid-item-col-start-5 {
    --grid-col-start: 5;
}

.grid-item-col-start-6 {
    --grid-col-start: 6;
}

.grid-item-col-start-7 {
    --grid-col-start: 7;
}

.grid-item-col-start-8 {
    --grid-col-start: 8;
}

.grid-item-col-start-9 {
    --grid-col-start: 9;
}

.grid-item-col-start-10 {
    --grid-col-start: 10;
}

.grid-item-col-start-11 {
    --grid-col-start: 11;
}

.grid-item-row-start-1 {
    --grid-row-start: 1;
}

.grid-item-row-start-2 {
    --grid-row-start: 2;
}

.grid-item-row-start-3 {
    --grid-row-start: 3;
}

.grid-item-row-start-4 {
    --grid-row-start: 4;
}

.grid-item-row-start-5 {
    --grid-row-start: 5;
}

.grid-item-row-start-6 {
    --grid-row-start: 6;
}

.grid-item-row-start-7 {
    --grid-row-start: 7;
}

.grid-item-row-start-8 {
    --grid-row-start: 8;
}

.grid-item-row-start-9 {
    --grid-row-start: 9;
}

.grid-item-row-start-10 {
    --grid-row-start: 10;
}

.grid-item-row-start-11 {
    --grid-row-start: 11;
}

.grid-item-row-start-12 {
    --grid-row-start: 12;
}
