.services {
    margin: 84px auto 0;
    max-width: var(--viewport-width);
    padding: 0 var(--spacer-md);
    overflow: hidden;
}

.header {
    font: var(--head-300);
    letter-spacing: -.25px;
}

.description {
    margin-top: var(--spacer-xs);
    color: var(--additional-black);
    font: var(--text-300);
    font-weight: 500;
}

.list {
    padding: var(--spacer-3xl) 0 var(--spacer-4xl);
    margin-bottom: calc(-1 * var(--spacer-md));
    overflow: auto hidden;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--spacer-sm);
    flex-wrap: nowrap;
}

.service {
    min-width: 240px;
    height: 270px;
    padding: 15px 16px 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 106px;
}

.title {
    display: block;
    font: var(--text-500);
    text-align: center;
    white-space: pre-line;
}

.link {
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

.auto {
    background-image: url('../../shared/assets/ui/auto.png');
    background-size: 108px;
    background-position: 50% 12px;
}
.auto .title {
    margin-top: 118px;
}

.taxes {
    background-image: url('../../shared/assets/ui/taxes.png');
    background-size: 100px;
    background-position: 50% 16px;
}
.taxes .title {
    margin-top: 128px;
}

.work {
    background-image: url('../../shared/assets/ui/work.png');
    background-size: 100px;
    background-position: 50% 16px;
}
.work .title {
    margin-top: 127px;
}


.civil {
    background-image: url('../../shared/assets/ui/civil.png');
    background-size: 100px;
    background-position: 49.5% 16px;
}
.civil .title {
    margin-top: 128px;
}

.estate {
    background-image: url('../../shared/assets/ui/estate.png');
    background-size: 100px;
    background-position: 50% 18px;
}
.estate .title {
    margin-top: 128px;
}


.consumer {
    background-image: url('../../shared/assets/ui/consumer.png');
    background-size: 100px;
    background-position: 50% 17px;
}
.consumer .title {
    margin-top: 128px;
}

.insurance {
    background-image: url('../../shared/assets/ui/insurance.png');
    background-size: 100px;
    background-position: 50% 17px;
}
.insurance .title {
    margin-top: 128px;
}

.family {
    background-image: url('../../shared/assets/ui/family.png');
    background-size: 100px;
    background-position: 50% 18px;
}
.family .title {
    margin-top: 128px;
}

.construction {
    background-image: url('../../shared/assets/ui/construction.png');
    background-size: 100px;
    background-position: 50% 17px;
}
.construction .title {
    margin-top: 128px;
}

.land {
    background-image: url('../../shared/assets/ui/land.png');
    background-size: 100px;
    background-position: 50% 17px;
}
.land .title {
    margin-top: 128px;
}

.banks {
    background-image: url('../../shared/assets/ui/banks.png');
    background-size: 100px;
    background-position: 48.5% 18px;
}
.banks .title {
    margin-top: 128px;
    letter-spacing: -.25px;
}

.fraud {
    background-image: url('../../shared/assets/ui/fraud.png');
    background-size: 100px;
    background-position: 49% 16px;
}
.fraud .title {
    margin-top: 137px;
}


@media (min-width: 1199px) {
    .services {
        margin-top: 137px;
        padding: 0 var(--spacer-4xl);
    }

    .header {
        letter-spacing: 0;
    }

    .description {
        margin-top: 16px;
        font-weight: 500;
        letter-spacing: .5px;
    }

    .list {
        padding: var(--spacer-xl) 0 var(--spacer-4xl);
        margin: var(--spacer-4xl) 0 0;
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: var(--spacer-lg);
        grid-row-gap: var(--spacer-lg);
    }

    .service {
        padding: 24px;
        height: 200px;
        max-width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title {
        text-align: left;
    }

    .link {
        width: 100%;
        max-width: 170px;
        margin: auto 0 0;
    }

    .service .title {
        margin: 0;
    }

    .auto {
        background-position: calc(100% + 68px) 17px;
        background-size: 212px;
    }

    .taxes {
        background-position: calc(100% + 43px) 22px;
        background-size: 200px;
    }

    .work {
        background-position: calc(100% + 44px) 23px;
        background-size: 199px;
    }

    .civil {
        background-position: calc(100% + 56px) 39px;
        background-size: 200px;
    }

    .estate {
        background-position: calc(100% + 57px) 45px;
        background-size: 200px;
    }

    .consumer {
        background-position: calc(100% + 50px) 39px;
        background-size: 198px;
    }

    .insurance {
        background-position: calc(100% + 44px) 38px;
        background-size: 200px;
    }

    .family {
        background-position: calc(100% + 42px) 26px;
        background-size: 200px;
    }

    .construction {
        background-position: calc(100% + 54px) 26px;
        background-size: 200px;
    }

    .land {
        background-position: calc(100% + 48px) 37px;
        background-size: 202px;
    }

    .banks {
        background-position: calc(100% + 51px) 41px;
        background-size: 200px;
    }

    .fraud {
        background-position: calc(100% + 45px) 26px;
        background-size: 200px;
    }
}
